DOMAIN_NAME=XXXXXXXXXXXX.42.fr
# certificates
CERTS_=./XXXXXXXXXXXX

# MYSQL SETUP
MYSQL_ROOT_PASSWORD=XXXXXXXXXXXX
MYSQL_USER=XXXXXXXXXXXX
MYSQL_PASSWORD=XXXXXXXXXXXX

# MARIADB
DB_ROOT_PWD=XXXXXXXXXXXX
DB_USER=XXXXXXXXXXXX
DB_USER_PASSWORD=XXXXXXXXXXXX
