version: '3'
services:
  nginx:
    image: nginx
    # image: build ... Dockerfile
    container_name: my-nginx
    volumes:
      - /Users/nchennaf/sgoinfre/nchennaf/volumes/nginx:/app
     # - /Users/nchennaf/sgoinfre/nchennaf/volumes/nginx:/app
      - WordPress:/var/www/nginx
      - /Users/nchennaf/sgoinfre/nchennaf/volumes/config:/etc/nginx/conf.d
      - /Users/nchennaf/sgoinfre/nchennaf/volumes/sitebidon:/usr/share/nginx/html
      - /Users/nchennaf/sgoinfre/nchennaf/volumes/ssl:/etc/ssl
      #- patate_db:/app2
    ports:
      - 8082:80
      - 443:443
    networks:
      - lan
    depends_on:
      - wordpress

  mariadb:
    image: mariadb
    container_name: my-mariadb
    volumes:
      - DB:/var/lib/mysql
   # ports:
    #  - 8081:80
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PWD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_USER_PASSWORD}
    networks:
      - lan

  wordpress:
    image: wordpress:5.1.1-fpm-alpine
    container_name: my-wordpress
    volumes:
      - /Users/nchennaf/sgoinfre/nchennaf/volumes/wordpress:/app
      - WordPress:/var/www/html
      #- patate_db:/app2
    ports:
      - 8080:80
    networks:
      - lan

  adminer:
    image: adminer
    container_name: my-adminer
    ports:
      - 8081:8080
    networks:
      - lan


volumes:
  #patate_db:
  WordPress:
  DB:

networks:
  lan:
