version: '3'
services:
  nginx:
    # env_file: .env
    # image: nginx
    build: requirements/nginx
    container_name: nginx
    volumes:
      - ${NGINX_DIR}:/app
      - WordPress:/var/www/nginx
      # - WordPress:/var/www/html
      - ${NGINX_CONF}:/etc/nginx/http.d
      # - ${NGINX_CONF}:/etc/nginx/conf.d
      # - ${VOLUME_DIR}/sitebidon:/usr/share/nginx/html
      - ${NGINX_SSL}:/etc/ssl
    ports:
      # - 8082:80
      - 443:443
    networks:
      - lan
    depends_on:
      - wordpress
    restart: on-failure

############################################################

  mariadb:
    image: mariadb
    # build: requirements/mariadb
    container_name: mariadb
    volumes:
      - DB:/var/lib/mysql
   # ports:
    #  - 8081:80
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PWD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_USER_PASSWORD}
      MYSQL_TCP_PORT: ${DB_PORT}
    expose:
      - ${DB_PORT}
    networks:
      - lan
    restart: on-failure

  ############################################################

  wordpress:
    image: wordpress:5.1.1-fpm-alpine
    # build: requirements/wordpress
    container_name: wordpress
    volumes:
      - ${VOLUME_WP}:/app
      - WordPress:/var/www/html
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_USER_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      # Mode DEBUG a ENLEVER ENSUITE
      WORDPRESS_DEBUG: 1
    networks:
      - lan
    depends_on:
      - mariadb
    restart: on-failure

  ############################################################

  adminer:
    image: adminer
    # build: requirements/bonus
    container_name: adminer
    ports:
      - 8081:8080
    networks:
      - lan
    restart: on-failure

  ############################################################

volumes:
  WordPress:
  DB:

networks:
  lan:
