version: '3'
services:
  nginx:
    build: requirements/nginx
    container_name: nginx
    volumes:
      # - WordPress:/var/www/nginx
      - ${VOLUME_WP}:/var/www/nginx
      - ${NGINX_CONF}:/etc/nginx/http.d
      - ${NGINX_SSL}:/etc/ssl
      - ${NGINX_LOGS}:/var/log/nginx
    ports:
      - 443:443
    networks:
      - lan
    depends_on:
      - wordpress
    restart: on-failure

############################################################

  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    volumes:
      # - DB:/var/lib/mysql
      - ${VOLUME_DB}:/var/lib/mysql
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PWD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_USER_PASSWORD}
      MYSQL_TCP_PORT: ${DB_PORT}
    expose:
      - ${DB_PORT}
    networks:
      - lan
    restart: on-failure

  ############################################################

  wordpress:
    # image: wordpress:6.1.1-fpm-alpine
    build: requirements/wordpress
    container_name: wordpress
    working_dir: /var/www/html
    volumes:
      # - WordPress:/var/www/html
      - ${VOLUME_WP}:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_USER_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      WORDPRESS_TITLE: ${WORDPRESS_TITLE}
      WORDPRESS_EMAIL: ${WORDPRESS_EMAIL}
      WORDPRESS_USER_EMAIL: ${WORDPRESS_USER_EMAIL}
      WORDPRESS_URL: ${DOMAIN_NAME}
      WORDPRESS_ADMIN: ${WORDPRESS_ADMIN}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
    networks:
      - lan
    depends_on:
      - mariadb
    restart: on-failure

  # ############################################################

  # adminer:
  #   image: adminer
  #   # build: requirements/bonus
  #   container_name: adminer
  #   ports:
  #     - 8081:8080
  #   networks:
  #     - lan
  #   restart: on-failure

  # ############################################################

# volumes:
#   WordPress:
#   DB:

networks:
  lan:
